body {
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    height: 100vh;
}

/* Downloaded Font's */
@font-face {
  font-family: typographicaFont;
  src: url(./fonts/typographica-font/Typographica-Blp5.ttf);
  font-weight: bold;
}

@font-face {
  font-family: josefin-sans;
  src: url(./fonts/josefin-sans/JosefinSans-SemiBold.ttf);
  font-weight: bold;
}

.url-title{
  font-size: 4em; 
  font-family: typographicaFont;
}

.recent-title{
  font-family: josefin-sans;
  font-size: 2em;
}

/* Button CSS */
button {
    width: 35%;
    padding: 10px 30px;
    border: 0;
    background-color: #57c513;
    color: #ffffff;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
  
.shorten-btn:hover {
    background-color: #2a6a03;
    transform: scale(1.1);
}

/* Input and Select CSS */
input, #expiration {
    background-color: #520b94;
    height: 50px;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    font-weight: 600;
}
  
#longUrl{
    width: 80%;
}

input:focus {
    color: white;
    background-color: #3c066e;
    outline-color: #2d0354;
    box-shadow: -3px -3px 15px #240244;
    transition: .1s;
    transition-property: box-shadow;
}

/* Recent URL's CSS */
#recentUrls{
    font-size: 20px;
}

/* Placeholder css */
::placeholder {
    color: white;
    opacity: 1;
}

/* Icon CSS */
.fa {
    font-size: 1.5em !important;
    color:red;
    cursor: pointer; 
}